/**
 * Variables
 *
 * Name for the grid and screen sizes. Default screen sizes taken from Bootstrap.
 */
$grid-name-prefix: 				'row' !default;
$grid-item-name: 				'column' !default;

$screen-xs:                  	480px !default;
$screen-sm:                  	768px !default;
$screen-md:                  	992px !default;
$screen-lg:                  	1200px !default;
$screen-xl: 					1600px !default;

/**
 * Define the grids we want to make.
 * Grid points contain the number of columns and the min-width set for the media query
 * Must be made with the largest media queries first.
 */
$grids: (
				(
								( 12, $screen-xl ),
								( 6, $screen-lg ),
								( 4, $screen-md ),
								( 3, $screen-sm ),
								( 2, $screen-sm / 1.5 ),
								( 1, null )
				),
				(
								( 4, $screen-md ),
								( 2, null )
				),
				(
								( 6, $screen-md ),
								( 3, null )
				),
				(
								( 2, null )
				),
				(
								( 3, null )
				)
) !default;

/**
 * Imports
 */
@import 'functions';
@import 'mixins';

/**
 * Spin through the grid points and create a collapsible grid for each one.
 */
@each $grid-points in $grids {

  @include collapsible-grid( $grid-points );
}